@font-face{
  font-family: Avenir;
  src: url(../fonts/);
}
.container{
  width: 1280px !important;
 }
body, html {
  background-color: white;
  width: 100%;
  font-family: Avenir;	
}
.header-icons{
	float: left;
	width: 10%;
	height: auto;
}
#neuroxpert {
  margin-top: 4%;
  margin-bottom: 4%;	
}
.navbar-default{
	background-color: #21ABB5;
	color: white !important;
	padding-bottom: 2%;
}
.section-imagen, .section-imagen1, .section-imagen2, .section-imagen3{
	background-position: center;
	background-size: 100% 100%;
	color: white;
	background-repeat: no-repeat;
}
.section-imagen{
	background-image: url(../imagenes/background1.jpg);
	padding: 8em;
	margin-top: -2%;
}
button{
	border-radius: 50%;
}
.section-blue{
	background-color: #21ABB5;
	color: white;
}
img{
	display: block;
	margin: auto;
}
.section-imagen1{
	background-image: url(../imagenes/background2.png);
	padding: 6em;
}
#boton{
	background-color: #21ABB5;
	color: white;
	padding: .9em;
}
hr{
	width: 40%;
}
h3, h5{
	color: #21ABB5;
}
.section-imagen2{
	background-image: url(../imagenes/background3.png);
	padding: 5em;
}
.form-control, textarea{
	background-color: rgba(0,0,0,.075);
}
.section-imagen3{
	background-image: url(../imagenes/background4.jpg);
}
li{
	display: inline-block;
}
.seg-icono{
	padding: 1.2em;
}
footer{
	background-color: #008696;
	color: white;
	padding: 2em;
}
#ver_mas{
	background-color: white;
	color: #21ABB5;
	font-weight: bold;
	padding: .8em;
	border-radius: 5%;
}
#btn-contact{
	background-color:  rgba(0,0,0,.075);
	color: white;
	border-color: white;
	padding: .8em;
	border-radius: 5%;
}
.curita{
	width: auto;
	height: 30%;
}
#reserved {
	margin-bottom: 4%;
}

 /*font-size: 3vh;30% la altura del dispositivo*/
/* o también
font-size: 3vw; /*30% el ancho del dispositivo*/
/*mediaqueries de tamaño movil*/

@media (max-width: 600px) {
  h2, h1, h3, h4, h5, p {
    font-size: 3.5vh;
  }
  .header-icons{
	float: left;
	width: 30%;
	height: auto;
	}
}