/*Código index*/
@font-face{
	font-family: Avenir;
	src: url(../fonts/AVENIR.TTC);
}
.container-fluid {
	width: 1280px !important;
}
.container {
	width: 1200px !important;
}
.header-icons {
	float: left;
	width: 10%;
	height: auto;
}
#logo {
	width: 220px !important;
}
a {
	text-decoration-line: none;
	font-size: 1em;
	color: white !important;
	font-family: "Avenir Light" !important;
}
#neuroxpert {
	margin-top: 3%;
	margin-bottom: 3%;
	font-size: 12px;
}
.informacion {
	padding: 0%;
}
.seccionblack {
	font-family: "Avenir Black" !important;	
}
.seccionlight {
	font-family: "Avenir Light" !important;
}
.media-heading {
	padding-top: 1% !important;
}
.navbar, navbar-default {
	background-color: #63aab3;
	color: white !important;
	padding-bottom: 2%;
	margin-bottom: 0%;
	padding-top: 2%;
	font-family: "Avenir Light"!important;
	font-size: 14.5px;
}
.section-imagen, .section-imagen1, .section-imagen2, .section-imagen3, .section-imagen4, .section-imagen5 {
	background-position: center;
	background-size: 100% 100%;
	color: white;
	background-repeat: no-repeat;
	background-size: cover;
}
.section-imagen {
	background-image: url(../imagenes/background1.jpg);
	padding: 8em;
	margin-top: -2%;
}
button {
	border-radius: 50%;
}
.section-blue {
	background-color: #21ABB5;
	color: white;
}
img {
	display: block;
	margin: auto;
}
#slider2 {
	width: 100%;
	height: 34.8em !important;
}	
.section-imagen1 {
	background-image: url(../imagenes/background2.png);
	padding: 6em;
	margin-top: 3%;
}
#boton {
	background-color: #63aab3;
	color: white;
	padding: 2em;
	font-family: "Avenir Black" !important;
	font-size: 14px;
}
hr {
	width: 40%;
}
h3, h5 {
	color: #21ABB5;
}
h4 {
	font-family: "Avenir Black" !important;
	font-size: 28px;	
}
.noticias {
	margin-top: 5%;
	margin-bottom: 5%;
}
.section-imagen2 {
	background-image: url(../imagenes/background3.png);
	padding: 5em;
	margin-top: 3%;	
}
.form-control, textarea {
	background-color: rgba(0,0,0,.075);
}
.section-imagen3 {
	background-image: url(../imagenes/background4.jpg);
	margin-top: 3%;
	height: 20em;
}
li {
	display: inline-block;
}
.seg-icono {
	padding: 1.2em;
}
.redesSociales {
	padding-top: 3%;
}
footer {
	background-color: #228794;
	color: white;
	height: 6em;
	padding-top: 3%;
	font-size: 12px;
	font-family: "Avenir Medium" !important;
}
#ver_mas{
	background-color: white;
	color: #21ABB5;
	font-weight: bold;
	padding: .8em;
	border-radius: 25px;
	font-family: "Avenir Medium" !important;
}
#btn-contact{
	background-color:  rgba(0,0,0,.075);
	color: white;
	border-color: white;
	padding: .8em;
	border-radius: 25px;
	font-family: "Avenir Medium" !important;
}
.curita {
	width: auto;
	height: 30%;
}
.secciones {
	width: 100%;
	background-color: #21ABB5;
	color: white;
	font-family: "Avenir";
}
/*Termina código index*/

/*Inicia código CSS para modal*/
/*Modal estilos*/
.btn-enviar1{
	background-color: #EF5C2B;
	color: white;
}
.modal-content{
	border: 3px solid #21ABB5;
}
.modal-header .close {
  margin-top: -29px;
  margin-right: -20px;
  border-radius:50%; 
  background-color: #008696;
  border: 1px solid #21ABB5;
}
.close{
	color: white;
}
/*Termina código para modal*/

/*Inicia código registro*/
#logo {
	width: 75%;
}
.search {
	padding-right: 15%;
	margin-top: 5%;
}
.section-imagen4 {
	background-image: url(../imagenes/sliderregistro.jpg);
	height: 20em;
	margin-bottom: 3%;
}
#foto {
	background-color: #63aab3;
	color: white;
	height: 12em;
	width: 15%;
	padding-top: 4%;
	margin-bottom: 3%;
	margin-top: 3%;
}
#boton1, #boton2 {
	background-color: #d15a2f;
	color: white;
	height: 5em;
	width: 25%;
}
.form-control, formulario {
	color: #6db0b8 !important;
}
/*Termina código registro*/

/*Inicia código Caseshare*/
/*Hover imagenes*/
.imagenCase {
	padding: 0% !important;
	margin: 1%;
	width: 23%;	
}
#caseshare1 {
	background-image: url("../imagenes/caseshare1.jpg");
	height: 15em !important;
	color: white;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
#caseshare2 {
	background-image: url("../imagenes/caseshare2.jpg");
	height: 15em !important;
	color: white;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
#caseshare3 {
	background-image: url("../imagenes/caseshare3.jpg");
	height: 15em !important;
	color: white;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
#caseshare4 {
	background-image: url("../imagenes/caseshare4.jpg");
	height: 15em !important;
	background-size: cover;
	color: white;
	background-position: center;
	background-repeat: no-repeat;
}
#caseshare5 {
	background-image: url("../imagenes/caseshare5.jpg");
	height: 15em !important;
	color: white;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
#caseshare6 {
	background-image: url("../imagenes/caseshare6.jpg");
	height: 15em !important;
	color: white;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
#caseshare7 {
	background-image: url("../imagenes/caseshare7.jpg");
	height: 15em !important;
	color: white;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
#caseshare8 {
	background-image: url("../imagenes/caseshare8.jpg");
	height: 15em !important;
	color: white;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
#caseshare9 {
	background-image: url("../imagenes/caseshare9.jpg");
	height: 15em !important;
	color: white;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
#caseshare10 {
	background-image: url("../imagenes/caseshare10.jpg");
	height: 15em !important;
	color: white;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
#caseshare11 {
	background-image: url("../imagenes/caseshare11.jpg");
	height: 15em !important;
	color: white;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
#caseshare12 {
	background-image: url("../imagenes/caseshare12.jpg");
	height: 15em !important;
	color: white;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
#caseshare1:hover .base{
	opacity: 1;
}
#caseshare2:hover .base{
	opacity: 1;
}
#caseshare3:hover .base{
	opacity: 1;
}
#caseshare4:hover .base{
	opacity: 1;
}
#caseshare5:hover .base{
	opacity: 1;
}
#caseshare6:hover .base{
	opacity: 1;
}
#caseshare7:hover .base{
	opacity: 1;
}
#caseshare8:hover .base{
	opacity: 1;
}
#caseshare9:hover .base{
	opacity: 1;
}
#caseshare10:hover .base{
	opacity: 1;
}
#caseshare11:hover .base{
	opacity: 1;
}
#caseshare12:hover .base{
	opacity: 1;
}
.base{
  	height: 8.8em;
  	background-color: rgba(0, 0, 000, 0.3);
	-webkit-transition: opacity 0.3s;	
	opacity: 0;
}
.titulos {
	padding-top: 8%;
}
/*Termina código Imagenes*/
.nav-tabs {
	border-bottom: 3px solid #63aab3;	
}
.nav-tabs>li {
	margin-bottom: 0px;	
}
.nav-tabs>li>a {
	margin-right: 8px;
	border: 3px solid #63aab3;
	
	overflow: hidden;
}
#titulo {
	font-family: "Avenir Heavy" !important;
	font-size: 41px;
}
#titulo1 {
	font-family: "Avenir Medium" !important;
	font-size: 16px;
}
.vermas {
	padding-top: 25%;
	color: white;
	font-family: "Avenir Black" !important;
	font-size: 24px;
}
.vermas1 {
	background-color: rgba(0, 0, 000, 0.3);	
	color: white !important;	
	padding: 1em;
	border-radius: 5%;
	text-decoration: none;
	font-family: "Avenir Medium" !important;
	font-size: 14px;	
}
.pagination li a {
	color: #63aab3 !important;
	border: none !important;
	font-size: 18px;
}
.pagination {
	margin: 0;
}
/*Termina código Caseshare*/

/*Inicia código Paso1*/

.perfil {
	color: #6db0b8;
}
.perfil1 {
	width: 100%;
	height: .2em;
	background-color: #63aab3;
}
#perfiles {
	margin-top: 15%;
}
table {
   width: 100%;
}
th, td {
	height: 30%;
}

/*Termina código Paso1*/


/*Inicia código Caso*/

.section-imagen5 {
	background-image: url(../imagenes/slider_caso.jpg);
	height: 20em;
	margin-bottom: 3%;	
}
#casos {
	margin-top: 5%;
}
#casoclinico1 {
	font-family: "Avenir Medium" !important;
	font-size: 16px;
	padding-top: 7%;
}
#casoclinico2 {
	font-family: "Avenir Heavy" !important;
	font-size: 41px;	
}
img {
	display: inline-block;
	margin: auto;
}
.pasos {
	background-color: white !important;
	color: #63aab3 !important;
}
.active a {
	background-color: #63aab3 !important;
	color: white !important;
}
#regreso {
	color: #63aab3 !important;
}
#casoClinico {
	margin-top: 5%;
	margin-bottom: 5%;
	background-color: #d15a2f;
	color: white;
}
#video {
	margin-top: 5%;
}

/*Termina código Caso*/

/*Inicia código Gráfica*/

.graficos {
	width: 30%;
	height: 3em;
	background-color: #63aab3;
}
.graficos1 {
	width: 30%;
	height: 3em;
	background-color: #d15a2f;
}

/*Termina código Gráfica*/


/*Inicia código Pallarax*/

#general{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	z-index: -1;
	overflow: hidden;
}
#body{
	width: 100%;
	min-height: 250px;
	overflow: hidden;
}
.scrolldown{
	margin: auto;
	width: 100%;
	height: 2em;
}

/*Termina código Pallarax*/